[Unit]
Description=DImROD Service - Historian
Documentation=https://github.com/cwshugg/dimrod
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/path/to/historian.py --config /path/to/config.json --oracle

[Install]
WantedBy=multi-user.target

