[Unit]
Description=DImROD Service - Rambler
Documentation=https://github.com/cwshugg/dimrod
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/path/to/run-service.sh /path/to/rambler.py --config /path/to/config.json --oracle

[Install]
WantedBy=multi-user.target

