# vim swapfiles
*.swp
*.swo

# python artifacts
__pycache__

# my service config files and other private files
cwshugg*.json
cwshugg_*

# my systemd files
dimrod*.service

# log files
*.log

# databases
*.db

# output files
*.out

# mycroft adapt source code
services/src

