# vim swapfiles
*.swp
*.swo

# python artifacts, venv, etc.
__pycache__
.venv
venv

# my service config files and other private files
cwshugg*.json
cwshugg_*

# my systemd files
dimrod*.service

# log files
*.log

# databases
*.db
*.db-journal

# output files
*.out

# mycroft adapt source code
adapt-parser

# pickle files
*.pkl

# various cron job and script secret files
.whos_online*

# taskmaster documents
services/taskmaster/tasks/*.md
services/taskmaster/tasks/*.json

