15    12  *   *   0 /home/provolone/chs/cron/status-email.sh
30    21  *   *   * /home/provolone/chs/cron/weather.py
30    16  *   *   * /home/provolone/chs/cron/weather.py
# */3   *   *   *   * /home/provolone/chs/cron/nudges.py
*/5   *   *   *   * /home/provolone/chs/cron/mode_switch.py
*/5   *   *   *   * /home/provolone/chs/cron/whos_online.py

# --------------------------------- Backups ---------------------------------- #
# Back up all my config files every month, on the 5th day around 4:30am.
20    4   5   *   * /home/provolone/chs/cron/backup.sh
25    4   5   *   * /home/provolone/chs/cron/backup.sh
30    4   5   *   * /home/provolone/chs/cron/backup.sh
35    4   5   *   * /home/provolone/chs/cron/backup.sh
40    4   5   *   * /home/provolone/chs/cron/backup.sh

# ------------------------------- LetsEncrypt -------------------------------- #
# Renew my LetsEncrypt certificate periodically, on the 2nd day of every other
# month at 5:10am.
10    5   2   1,3,5,7,9,11 * /home/provolone/chs/cron/letsencrypt-renew.sh

# ------------------------ Scheduled Service Restarts ------------------------ #
# LUMEN: every 4 hours
0     */4 *   *   * /home/provolone/chs/scripts/restart-service.sh lumen
# WARDEN: Wednesday afternoons at 12:30pm
30    12  *   *   3 /home/provolone/chs/scripts/restart-service.sh warden
# TELEGRAM: Every morning at 4:00am
0     4   *   *   * /home/provolone/chs/scripts/restart-service.sh telegram
# NOTIF: Sunday mornings at 4:00am
0     4   *   *   0 /home/provolone/chs/scripts/restart-service.sh notif
# SPEAKER: Tuesday mornings at 4:00am
0     4   *   *   2 /home/provolone/chs/scripts/restart-service.sh speaker
# TASKMASTER: Friday mornings at 4:00am
0     4   *   *   4 /home/provolone/chs/scripts/restart-service.sh taskmaster
# GATEKEEPER: Monday mornings at 3:00am
0     4   *   *   4 /home/provolone/chs/scripts/restart-service.sh gatekeeper

